
.header {
    display: inline-flex;
    background-color: #6327A0;
    color: #FEFDFD;
    width: 100%;
}



.header .title {
    display: inline-flex;
    width: 50%;
}

.header .navigation {
    display: inline-flex;
}

.navigation li {
    padding-left: 5%;
}
